html {
  height: 100%;
  width: 100%;
}
.box{
  background-color: orange;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}
.container{
  display: flex;
  background-color: grey;
  justify-content: space-between;
  height: 300px;
  align-items: center;
}
.video{
  text-align: center;
  margin-top: 20px;
}